[class*=' el-icon-lx'],
[class^='el-icon-lx'] {
  font-family: lx-iconfont !important;
}
@font-face {
  font-family: 'siyuan, siyuan-Medium';
  src: url('https://cnpc-avatar.oss-cn-beijing.aliyuncs.com/2022-04-29/392a6d1f0a5e4ddca33b0284bc8cac15.otf');
}
@font-face {
  font-family: 'siyuan, siyuan-Regular';
  src: url('https://cnpc-avatar.oss-cn-beijing.aliyuncs.com/2022-04-29/bcfbd8adc24541eab5fd64def8f75ee4.otf');
}
@font-face {
  font-family: 'TYB Bold';
  src: url('https://cnpc-avatar.oss-cn-beijing.aliyuncs.com/2022-04-29/8889bbe793b34e7ba31efe13ea93f8d4.otf');
}
@font-face {
  font-family: 'king-kong';
  src: url('https://cnpc-avatar.oss-cn-beijing.aliyuncs.com/2022-08-19/78cd14da813d4cf2a4061ed59a9a1027.otf');
}
